/* .App {
  text-align: center;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
 */
